/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------- 
CUSTOM STYLES
-------------------------------------*/

/* -----------::Colors::------------ */

:root {
  --background-color: #262626;
  --font-color: #D8D8D8;
  --primary-color: #595959;
  --secondary-color: #8C8C8C;

  /* Theme 1 */
  --t1-background-color: #262626;
  --t1-font-color: #D8D8D8;
  --t1-primary-color: #595959;
  --t1-secondary-color: #8C8C8C;

  /* Theme 2 */
  --t2-background-color: #4C4272;
  --t2-font-color: #F2EEBC;
  --t2-primary-color: #726AA5;
  --t2-secondary-color: #BABDF2;

  /* Theme 3 */
  --t3-background-color: #D85291;
  --t3-font-color: #E0FBFF;
  --t3-primary-color: #4C4272;
  --t3-secondary-color: #BABDF2;
}

/* Global */
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
}
img {
  width: 100%;
  height: auto;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 110px auto;
  grid-template-rows: 100vh;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
}
.nav {
  width: 100%;
  height: 100%;
}
.nav-item {
  width: 100%;
  height: 15vh;
}
.nav-link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 4px solid transparent;
}
.nav-link.active {
  background-color: var(--background-color);
  border-left: 4px solid var(--secondary-color);
}
.nav-link:hover{
  opacity: 0.8;
  border-left: 4px solid var(--secondary-color);
}

/* Content */

.content {
  padding: 4rem;
}
.placeholder {
  font-family: 'Courier New', Courier, monospace;
  margin: 2rem 0;
  text-transform: uppercase;
}
.placeholder::before {
  content: '<'
}
.placeholder::after {
  content: '>';
}

/* Header */

.main h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.main h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Home */

.img-container {
  overflow: hidden;
}
.img-container img {
  margin-top: -350px;
  margin-bottom: -200px;
}
.home .description {
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
}

/* Theme */

.theme-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: -1rem;
}

.theme-container > * {
  border: 4px solid #fff;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}

.theme-container > *:active {
  opacity: 0.6;
}

.background {
  width: 100px;
  height: 50px;
  background-color: white;
}

.primary {
  width: 100px;
  height: 50px;
  background-color: black;
}

.theme-1 .background {
  background-color: var(--t1-background-color);
}

.theme-1 .primary {
  background-color: var(--t1-primary-color);
}

.theme-2 .background {
  background-color: var(--t2-background-color);
}

.theme-2 .primary {
  background-color: var(--t2-primary-color);
}

.theme-3 .background {
  background-color: var(--t3-background-color);
}

.theme-3>.primary {
  background-color: var(--t3-primary-color);
}